/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color:#edf0f4;
}

body{
	font:15px/1.3 Arial, sans-serif;
	color: #4f4f4f;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*----------------------------
	The main content element
-----------------------------*/


#main{
	padding:100px;
	background-color:#fff;
	box-shadow:0 0 1px #ccc;
	width:700px;
	margin:100px auto;
	border-radius:6px;
	font:bold 24px/1 'PT Sans', sans-serif;
	color:#6b6b6b;
}


#main h1{
	font-size:36px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0 80px;

}

#services{
	list-style:none;
	margin:0 auto;
	width:600px;
}

#services li{
	background-color: #fbfbfc;
	box-shadow:0 1px 1px #eee;
	font-size:22px;
	color: #85898b;
	padding:22px 30px;
	margin-bottom:15px;
	border-radius:4px;
	cursor:pointer;
	text-align: center;
}

#services li:hover{ 
	background-color: #D3D3D3;
	box-shadow:0 1px 1px #eee;
	font-size:22px;
	color: #85898b;
	padding:22px 30px;
	margin-bottom:15px;
	border-radius:4px;
	cursor:pointer;
	text-align: center;
}

#services li span{
	float:right;
	opacity:0.6;
}

